<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redireccionar todo a index.php excepto archivos reales
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>